@use '@styles/colors' as *;

.columnContainer {
  display: flex;
  flex-direction: column;
  flex: 0 0 350px;
  min-width: 230px;
  min-height: 0;
}

.columnHeader {
  display: flex;
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  background-color: white;
  gap: 10px;
}

.labeledCheckbox {
  padding: 0 10px;
}

.columnActionsWrapper {
  margin-left: auto;
  display: flex;
}

button.moveColumnButton {
  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}

.columnBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  background-color: $gray-200;
  padding: 10px;
}

.dropZone {
  display: flex;
  flex: 1;

  &_dragging {
    border: 1px dashed $color-primary;
    background: $color-primary-light;
  }
}

@media screen and (max-width: 768px) {
  .columnContainer {
    flex: 0 0 230px;
  }
  .columnHeader {
    position: static;
  }
  .columnBody{
    gap: 10px;
    padding: 7px;
  }

}