@use '@shared/styles/fonts' as *;
@use '@shared/styles/colors' as *;

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 8px 16px;
  font-size: $text-md;
  color: $gray-500;
}

.buttonContainer:hover{
  background-color: $color-primary-light;
  cursor: pointer;
  color: $gray-700;
}
