
$color-primary: #2e6ff2;
$color-primary-hover: #1f54c9;
$color-primary-light: #e6f0ff;

$bg-primary: white;

$color-success: #28c76f;
$color-success-hover: #1fa25a;

$color-danger: #ea5455;
$color-danger-hover: #c74242;

$color-warning: #f7b731;

$gray-900: #1a1a1a;
$gray-800: #2a2a2a;
$gray-700: #3f3f3f;
$gray-600: #5d5d5d;
$gray-500: #8c8c8c;
$gray-400: #c0c0c0;
$gray-300: #dfdfdf;
$gray-200: #f0f0f0;
$gray-100: #fafafa;

$text-dark: #222;
$text-light: #fff;
