.boardWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 20px;
}

.columnsWrapper {
  display: flex;
  flex: 1;
  gap: 10px;
  overflow: auto;
  min-height: 0;
  position: relative;
  padding-right: 20px;
}

.columns{
  display: flex;
  gap: 10px;
  height: fit-content;
  min-height: 100%;
}

.addColumnVerticalButton {
  display: flex;
  margin-top: 40px;
  width: max-content;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: sticky;
  top: 40px;

  svg {
    fill: currentColor;
  }

  &_fullWidth {
    flex: 1;
    writing-mode: horizontal-tb;
  }
}
