@use '@shared-styles/colors' as *;
@use '@shared-styles/fonts' as *;

.input {
  border: 1px solid $gray-500;
  padding: 6px 12px;
  outline: none;
  font-size: $text-sm;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: normal;
}

.error {
  border-color: $color-danger;
}
