@use '@styles/fonts' as *;
@use '@styles/colors' as *;

.controlPanelWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panelRow {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
  min-height: 28px;
}

.searchInput {
  width: 250px;
}

.noteText,
.noteText_placeholder {
  font-size: $text-sm;
}

.noteText_placeholder {
  color: $gray-500;
  font-style: italic;
}

.tagsList {
  display: flex;
  gap: 10px;
}
