@use '@shared-styles/colors' as *;
@use '@shared-styles/fonts' as *;

.tagWrapper {
  font-size: $text-sm;
  padding: 5px 10px;
  background-color: $gray-200;
  color: $gray-600;
  border: 1px solid $gray-300;
  line-height: 16px;

  &:hover {
    background-color: $gray-300;
    color: $gray-700;
    cursor: pointer;
  }
}
