@use '@styles/colors' as *;
@use '@styles/fonts' as *;

.tagWrapper {
  font-size: $text-sm;
  padding: 5px 10px;
  background-color: $gray-200;
  color: $gray-600;
  border: 1px solid $gray-300;
  line-height: 16px;
  user-select: none;
  white-space: nowrap;

  @media (hover:hover){
    &:hover {
      background-color: $gray-300;
      color: $gray-700;
      cursor: pointer;
    }
  }

  &.checked{
    background-color: $color-primary-light;
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}

.input{
  margin: 0;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
